@import "./variables.scss";

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.4;
  font-family: "Ubuntu", sans-serif;
  color: $text;
  vertical-align: baseline;
}

a {
  color: inherit;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $text;
  border: 3px solid;
  border-image: linear-gradient(to right, #835ab4, #f50157, #fcb145, #4b448b)
    67% 0%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  padding: 40px;
}

.title {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $text;
}

.tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 260px;
}

.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding: 20px;
  background-color: $backgroundMuted;
  border-radius: 10px;

  input[type="checkbox"] {
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 40%;
    border: 0.5px solid $text;
    background-color: $background;

    &:checked {
      background-color: $completedColor;
    }
  }
}

.icon {
  cursor: pointer;
}
